@import "tailwindcss";
@plugin "daisyui";

.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

canvas {
  touch-action: none;
}

/* Cible la div que PresentationControls génère dynamiquement */
[style*="cursor: grab"], [style*="cursor: grabbing"] {
  touch-action: none !important;
}